<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$$$','$$$']], displayMath: [['$$$$$$','$$$$$$']]}
        });
    </script>

    <!-- <script type="text/javascript" async="" src="{{pwd}}/MathJax/MathJax.js?config=TeX-AMS_HTML-full"> -->

    <script type="text/javascript" async="" src="https://assets.codeforces.com/mathjax/MathJax.js?config=TeX-AMS_HTML-full">
    </script>

	<link rel="stylesheet" href="{{pwd}}/css.css"/>
    <link rel="stylesheet" href="{{pwd}}/github.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

<style type="text/css">
* { font-family: Verdana; }
.new-page { page-break-after: always; }
</style>
</head>

<body>

<h1>
{{ task.contest_title }}
{{ task.id }}
{{ task.name }}
{{ task.tags }} </h1>

{{ task.condition | safe }}

<div class="new-page"></div>
    {{ task.tutorial | safe }}
<div class="new-page"></div>

<div class="new-page"></div>

</body>
</html>
